.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon-heart {
  font-size: 24px;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #4facfe; /* Chrome 10-25,
  Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to bottom right,
    rgba(79, 172, 254, 1),
    rgba(0, 242, 254, 1)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+,
  Safari 7+ */
  background: linear-gradient(
    to bottom right,
    rgba(79, 172, 254, 1),
    rgba(0, 242, 254, 1)
  );
}

#new-articles-general img {
  width: 100%;
  cursor: pointer;
}

#news-new img {
  width: 100%;
}
